html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input,
label,
textarea,
button.custom {
  font-size: 1.5rem !important;
  /* color: #0d6edd; */
}

textarea {
  line-height: 2.2rem !important;
}

button.custom.block {
  padding: 1rem;
}

legend {
  font-size: 1.1rem !important;
}

.makeStyles-navLink-25.active {
  color: #ef5350 !important;
  border-color: #ef5350 !important;
}

.makeStyles-navLink-25.active svg {
  color: #ef5350 !important;
}
